
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/Morada-dos-Canyons-17.jpg); /* Substitua 'caminho/para/sua/imagem.jpg' pelo caminho correto da sua imagem */

}